# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
assets/.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode/
# AOT builds
/build/
/ios/.symlinks/
/android/.gradle/
/android/app/build/
/ios/Runner.xcworkspace/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/ephemeral/
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/